@model Shop.Shared.Models.ViewModels.AddressViewModel

<div class="row">
    <div class="col-md-12">
        @Model.Unit/@Model.StreetNumber @Model.Street<br />
        @Model.Suburb @Model.PostCode<br />
        <a href="http://maps.google.com/?q=@Model.StreetNumber @Model.Street @Model.Suburb @Model.PostCode">Google Map</a>
    </div>
</div>