@model Shop.Infrastructure.TableCreator.TableOutput
@{
    ViewBag.Title = "Product Management";
    Layout = "~/Shared/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Product Management</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <span><strong>Sort By:</strong></span>
            <span>
                <select>
                    <option value="Name">Name</option>
                    <option value="StockQuantity">Quantity</option>
                </select>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        
        <table class="table table-hover">
            @foreach (var row in Model.Rows)
            {
                <tr>
                    <td>
                        <div id="product-details-@row.Id">
                            <strong>@row.Cells[0]</strong> - @row.Cells[2] <br/>
                            <strong>Stocks Available: </strong>@row.Cells[1]
                        </div>
                        <div id="product-details-editor-@row.Id" style="display: none">
                            @using (Html.BeginForm("UpdateProduct", "Product"))
                            {
                                <input name="id" type="hidden" value="@row.Id"/>
                                <div class="form-group">
                                    <input name="name" placeholder="Name" class="form-control" type="text" value="@row.Cells[0]"/>
                                </div>
                                <div class="form-group">
                                    <input name="description" placeholder="Description" class="form-control" type="text" value="@row.Cells[2]"/>
                                </div>
                                <a class="btn btn-default" onclick="cancelDetailsEditorBtn(@row.Id);">Cancel</a>
                                <button class="btn btn-primary">Save</button>
                            }
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-default" onclick="editDetailsBtn(@row.Id)">Edit</button>
                    </td>
                </tr>
            }
            <tr>
                <td>Total: @Model.TotalProductOffersCount</td>
                <td><button class="btn btn-default" onclick="addDetailsBtn()">Add</button></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="product-details-editor-add" style="display: none">
                        @using (Html.BeginForm("AddProduct", "Product"))
                        {
                            <div class="form-group">
                                <input name="name" placeholder="Name" class="form-control" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <input name="description" placeholder="Description" class="form-control" type="text" value=""/>
                            </div>
                            <a class="btn btn-default" onclick="cancelDetailsAddBtn();">Cancel</a>
                            <button class="btn btn-primary">Save</button>
                        }
                    </div>
                </td>
            </tr>
        </table>
        <script>
            function editDetailsBtn(id) {
                $("#product-details-" + id).hide();
                $("#product-details-editor-" + id).show();
            }

            function cancelDetailsEditorBtn(id) {
                $("#product-details-" + id).show();
                $("#product-details-editor-" + id).hide();
                return false;
            }

            function addDetailsBtn() {
                $("#product-details-editor-add").show();
            }

            function cancelDetailsaddBtn() {
                $("#product-details-editor-add").hide();
                return false;
            }
        </script>
    </div>
</div>