@model Shop.Pages.Management.Account.AccountIndexViewModel
@{
    ViewBag.Title = "My Account";
    Layout = "~/Shared/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>My Account</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="customer-details-main">
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd>@Model.CustomerName</dd>
                <dt>Date of Birth:</dt>
                <dd>@Model.CustomerDateOfBirth</dd>
            </dl>
            <button class="customer-details-main btn btn-default" onclick="editDetailsBtn();">Edit Details</button>
        </div>
        <div class="customer-details-editor" style="display:none">
            @using (Html.BeginForm("UpdateAccountDetails", "Account"))
            {
                <input name="id" type="hidden" value="@Model.CustomerId" />
                <div class="form-group">
                    <label class="control-label">
                        First Name:
                    </label>
                    <input name="firstName" class="form-control" type="text" value="@Model.CustomerName.FirstName" />
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Last Name:
                    </label>
                    <input name="lastName" class="form-control" type="text" value="@Model.CustomerName.LastName" />
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Date of Birth:
                    </label>
                    <input name="dob" class="form-control" type="text" value="@Model.CustomerDateOfBirth" />
                </div>
                <button class="btn btn-default" onclick="cancelCustomerDetailsEditorBtn(event);">Cancel</button>
                <button class="btn btn-primary">Save</button>
            }
        </div> 
        <script>
                function editDetailsBtn() {
                    $(".customer-details-main").hide();
                    $(".customer-details-editor").show();
                }
                function cancelCustomerDetailsEditorBtn(e) {
                    e.preventDefault();
                    $(".customer-details-main").show();
                    $(".customer-details-editor").hide();
                    return false;
                }
        </script>       
    </div>
    <div class="col-md-6">
        <div class="customer-address-main">
            <dl class="dl-horizontal">
                <dt>Address:</dt>
                <dd>@Html.Partial("~/Shared/ViewModels/Address/_Address.cshtml", Model.CustomerHomeAddress)</dd>
            </dl>
            <button onclick="editAddressBtn();" class="btn btn-default">Edit Address</button>
        </div>
        <div class="customer-address-editor" style="display:none">
            @using (Html.BeginForm("UpdateAccountAddress", "Account"))
            {
                <input name="id" type="hidden" value="@Model.CustomerId" />
                <div class="form-group">
                    <label class="control-label">
                        Street:
                    </label>
                    <input name="street" class="form-control" type="text" value="@Model.CustomerHomeAddress.Street" />
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Number:
                    </label>
                    <input name="streetNumber" class="form-control" type="text" value="@Model.CustomerHomeAddress.StreetNumber" />
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Unit:
                    </label>
                    <input name="unit" class="form-control" type="text" value="@Model.CustomerHomeAddress.Unit" />
                </div>
                <div class="form-group">
                    <label class="control-label">
                        PostCode:
                    </label>
                    <input name="postcode" class="form-control" type="text" value="@Model.CustomerHomeAddress.PostCode" />
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Suburb:
                    </label>
                    <input name="suburb" class="form-control" type="text" value="@Model.CustomerHomeAddress.Suburb" />
                </div>
                <button class="btn btn-default" onclick="cancelCustomerAddressEditorBtn(event);">Cancel</button>
                <button class="btn btn-primary">Save</button>
            }
        </div>
        <script>
                function editAddressBtn() {
                    $(".customer-address-main").hide();
                    $(".customer-address-editor").show();
                }
                function cancelCustomerAddressEditorBtn(e) {
                    e.preventDefault();
                    $(".customer-address-main").show();
                    $(".customer-address-editor").hide();
                    return false;
                }
        </script>
    </div>
</div>