@model Shop.Pages.Management.Account.AccountIndexViewModel
@{
    ViewBag.Title = "My Account";
    Layout = "~/Shared/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>My Account</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="customer-details-main">
            <div class="row">
                <div class="col-md-3">
                    <Label>Name:</Label>
                </div>
                <div class="col-md-9">
                    @Model.CustomerName
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <Label>Date of Birth:</Label>
                </div>
                <div class="col-md-9">
                    @Model.CustomerDateOfBirth
                </div>
            </div>
        </div>
        <button class="customer-details-main btn btn-default" onclick="editDetailsBtn();">Edit Details</button>
        <div class="customer-details-editor" style="display:none">
            @using (Html.BeginForm("UpdateAccountDetails", "Account"))
            {
                <input name="id" type="hidden" value="@Model.CustomerId" />
                <div class="form-group">
                    <input name="firstName" placeholder="First Name" class="form-control" type="text" value="@Model.CustomerName.FirstName" />
                </div>
                <div class="form-group">
                    <input name="lastName" placeholder="Last Name" class="form-control" type="text" value="@Model.CustomerName.LastName" />
                </div>
                <div class="form-group">
                    <input name="dob" placeholder="Date of Birth" class="form-control" type="text" value="@Model.CustomerDateOfBirth" />
                </div>
                <button class="btn btn-default" onclick="cancelCustomerDetailsEditorBtn(event);">Cancel</button>
                <button class="btn btn-primary">Save</button>
            }
        </div>
        <script>
                function editDetailsBtn() {
                    $(".customer-details-main").hide();
                    $(".customer-details-editor").show();
                }
                function cancelCustomerDetailsEditorBtn(e) {
                    e.preventDefault();
                    $(".customer-details-main").show();
                    $(".customer-details-editor").hide();
                    return false;
                }
        </script>
    </div>

   <div class="col-md-6">
        <div class="customer-address-main">
            <div class="row">
                <div class="col-md-3">
                    <label>Address:</label>
                </div>
                <div class="col-md-9">
                    @Html.Partial("~/Shared/ViewModels/Address/_Address.cshtml", Model.CustomerHomeAddress)
                </div>
            </div>
            <button onclick="editAddressBtn();" class="btn btn-default">Edit Address</button>
        </div>
        <div class="customer-address-editor" style="display:none">
            @using (Html.BeginForm("UpdateAccountAddress", "Account"))
            {
                <input name="id" type="hidden" value="@Model.CustomerId" />
                <div class="form-group">
                    <input name="street" placeholder="Street Name" class="form-control" type="text" value="@Model.CustomerHomeAddress.Street" />
                </div>
                <div class="form-group">
                    <input name="streetNumber" placeholder="Number" class="form-control" type="text" value="@Model.CustomerHomeAddress.StreetNumber" />
                </div>
                <div class="form-group">
                    <input name="unit" placeholder="Unit" class="form-control" type="text" value="@Model.CustomerHomeAddress.Unit" />
                </div>
                <div class="form-group">
                    <input name="postcode" placeholder="Postcode" class="form-control" type="text" value="@Model.CustomerHomeAddress.PostCode" />
                </div>
                <div class="form-group">
                    <input name="suburb" placeholder="Suburb" class="form-control" type="text" value="@Model.CustomerHomeAddress.Suburb" />
                </div>
                <button class="btn btn-default" onclick="cancelCustomerAddressEditorBtn(event);">Cancel</button>
                <button class="btn btn-primary">Save</button>
            }
        </div>
        <script>
                function editAddressBtn() {
                    $(".customer-address-main").hide();
                    $(".customer-address-editor").show();
                }
                function cancelCustomerAddressEditorBtn(e) {
                    e.preventDefault();
                    $(".customer-address-main").show();
                    $(".customer-address-editor").hide();
                    return false;
                }
        </script>
    </div>
</div>