<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Leon's Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jquery-ui-dialogextend")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Leon's Shop", "Index", "Order", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("My Order", "Index", "MyOrder", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("My Account", "Index", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-right">
                <div class="navbar-brand">
                    Welcome: @ViewBag.CurrentUser.FirstName @ViewBag.CurrentUser.LastName
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Leon's Shop</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
