@{
    ViewBag.Title = "Ordered Products";
    var order = (Shop.Order.Order) ViewBag.Order;
}

<div class="row">
    <div class="col-md-9">
        <h2>Ordered Product</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (order.ProductsOrdered.Any())
        {
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Ordered Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var product in order.ProductsOrdered)
                    {
                        <tr>
                            <td>
                                <strong>@product.ProductOrdered.Name</strong><br />
                                <span class="text-muted">@product.ProductOrdered.Description</span>
                            </td>
                            <td>@product.QtyOrdered</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                No ordered items.<br/>
                If you have ordered some items, please look into "My Order" link above.
            </div>
        }
    </div>
</div>

@if (order.ProductsOrdered.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                Processing order will reduce the stock quantity in the database. Processed orders or current order can be seen in "My Order" from the top link. 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="clear-order-container">
                <a href="@Url.Action("ClearOrder")" class="btn btn-default">Clear Order</a>
                <div class="pull-right">
                    <a href="@Url.Action("ProcessOrder")" class="btn btn-primary">Process</a>
                </div>
            </div>
        </div>
    </div>
}
