@using Shop.Order
@model Shop.Pages.Order.OrderIndexViewModel
@{
    ViewBag.Title = "Order";
    Layout = "~/Shared/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Product List</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var product in Model.ProductList)
                {
                    var order = (Order)@ViewBag.Order;
                    var productOrdered = order.ProductsOrdered.FirstOrDefault(po => po.ProductOrdered.Id == product.Id);
                    <tr>
                        <td>
                            <strong>@product.Name</strong><br />
                            <span class="text-muted">@product.Description</span><br />
                            <strong>Stock Available:</strong>
                            <span class="text-muted">@product.StockQuantity</span>
                        </td>
                        <td>
                            <a class="btn btn-default" onclick="addOrderItem(@product.Id);">Add to Cart</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function addOrderItem(productId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddOrderItem")',
            datatype: "json",
            traditional: true,
            data: {
                "productId": productId
            },
            success: function (data) {
                if (data.success) {
                    location.reload();
                } else {
                    alert("Not enough stock. Re-run the application to refresh the stock.");
                }
            }
        });
    }
</script>

@Html.Partial("~/Shared/Components/ShoppingCartDialog/_ShoppingCart.cshtml")